add_newline = true

[os]
disabled = false

[os.symbols]
Amazon = " "
Arch = " "
Android = " "
Debian = " "
Fedora = " "
NixOS = " "
Ubuntu = " "
Windows = " "

[directory]
read_only = " 󰌾"
truncation_length = 3
truncation_symbol = "…/"

[directory.substitutions]
"Documents" = "󰈙 "
"Downloads" = " "
"NixConfig" = " "
"Pictures" = " "
"Studies" = " "
"Win" = " "


[aws]
symbol = " "

[c]
symbol = " "

[dart]
symbol = " "

[docker_context]
symbol = " "

[elixir]
symbol = " "

[fossil_branch]
symbol = " "
      
[git_branch]
symbol = " "

[golang]
symbol = " "

[haskell]
symbol = " "

[hg_branch]
symbol = " "

[hostname]
ssh_symbol = " "
      
[java]
symbol = " "

[kotlin]
symbol = " "

[lua]
symbol = " "

[nix_shell] 
symbol = " "
      

[nodejs]
symbol = ""

[package]
symbol = "󰏗 "

[php]
symbol = " "
      
[python]
symbol = " "

[rust]
symbol = " "

[zig]
symbol = "⚡️ "

[line_break]
disabled = false